* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #465e6b;
  color: #fff;
}

header .row {
  max-width: 1255px;
}

.navbar-row {
  width: 85% !important;
  padding-top: 33px !important;
}


.navbar-toggler {
  padding: 0.56rem 2.1rem !important;
  font-family: var(--poppins-font) !important;
  color: var(--white-font) !important;
  border: 1px solid var(--link-border-color) !important;
  border-radius: 0px !important;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  font-weight: 500;
}

.navbar-toggler:hover {
  cursor: pointer;
}

.contact-us-btn {
  display: none;
  padding: 0.56rem .76rem;
  font-family: var(--poppins-font);
  color: var(--white-font);
  border: 1px solid var(--link-border-color);
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  font-weight: 500;
}

.contact-us-btn:hover {
  cursor: pointer;
}


.logo-text-content {
  padding-right: 4rem !important;
  color: var(--white-font);
  text-align: end;
}

.logo-text-content img {
  width: 205px;
  height: 90px;
  object-fit: cover;
  float: inline-end;
}

.icon-div {
  display: flex;
  gap: 15px;
  justify-content: end;
  margin-top: 1rem;
}

.icon-div i {
  font-size: 25px;
  color: #e9e8e8;
}

.navbar {
  padding-left: 4rem !important;
}

.navbar-collapse .nav-link {
  text-decoration: none !important;
  color: var(--white-font);
  font-size: 16px;
  font-weight: 500;
  padding: .9rem 0rem !important;
}

.navbar-collapse .nav-link.active {
  border-bottom: 1px solid var(--link-border-color);
  color: var(--white-font);
}

.navbar .header-btn {
  color: var(--white-font);
  border-radius: 0px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--poppins-font);
  text-align: center;
  width: 149px;
  border: 1px solid #cdb19b;


}

.navbar .header-btn:hover {
  color: var(--white-font);
}

/* team-section start */
.team-section h1 {
  color: #465e6b;
  font-size: 2.6rem;
  text-align: center;
  font-family: var(--abhaya-font);
}

.team-section .card {
  padding: 10px !important;
}


.card-body .card-title {
  font-family: var(--abhaya-font);
  color: var(--main-text-color);
  line-height: 26px;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-body .card-text {
  font-family: var(--abhaya-font);
  color: var(--goldern-text-color);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 20px;
}

.card-body .gdcNo-text {
  font-family: var(--poppins-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
}




.award-img-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.award-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.footer {
  background-color: #465e6b;
  color: #fff;
  padding: 4rem 20px;
  font-family: var(--poppins-font);
  font-size: 16px;
  line-height: 25px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .gdc-link {
  border-bottom: 1px solid;
}

.footer .gdc-link:hover {
  color: #ddd;
}

.footer .site-update-text {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.footer .phone-detail {
  margin-top: 2rem;
}

.footer-bottom-icon-row {
  align-items: center;
  border-top: 1px solid #d8a77f;
  border-bottom: 1px solid #d8a77f;
}


.footer-bottom {
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: end;
  gap: 90px;
}

footer .icon-div {
  justify-content: left;
  margin: 0px;
  padding: 15px 0px;
}

footer .icon-div i {
  font-size: 23px;
}

.footer-bottom a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #ddd;
}


@media screen and (min-width : 1441px) {

  .logo-text-content {
    padding-right: 8rem !important;
  }
}

@media screen and (min-width : 1360px) {
  .logo-text-content {
    padding-right: 6rem !important;
  }
}



@media screen and (min-width:1024px) and (max-width:1300px) {
  .navbar-row {
    width: 90% !important;
  }

  .navbar {
    padding-left: 4rem !important;
  }

  .navbar .header-btn {
    padding: 7px 14px;
    font-size: 14px;
  }

  .navbar-collapse .nav-link {
    font-size: 14px;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  .contact-us-btn {
    display: block;
  }

  .logo-text-content {
    padding-right: 0rem !important;
  }

  .award-img-div {
    margin-bottom: 10px;
  }

  .footer {
    font-size: 15px;
  }

  .footer-bottom a {
    font-size: 11px;
  }

  .footer .footer-bottom {
    font-size: 14px;
    gap: 50px;
  }
}

@media screen and (min-width: 609px) and (max-width:768px) {
  .contact-us-btn {
    display: block;
  }

  .logo-text-content {
    align-items: center;
    text-align: center;
    padding: 0px !important;
  }

  .award-img-div {
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: row;
  }

  .navbar-toggler {
    padding: 0.56rem 1.5rem !important;
    font-size: 16px !important;
  }

  .icon-div {
    justify-content: center;
  }

  .footer {
    padding: 3rem 0px;
    text-align: center;

  }

  .footer p {
    font-size: 17px;
  }

  .footer .phone-detail {
    margin-top: 1.5rem;
  }

  .footer .site-update-text {
    margin-top: 2rem;
    padding-bottom: 0rem;
  }


  .footer .icon-div {
    justify-content: center !important;
    gap: 1rem;
    margin: 10px 0 0 !important;
    padding: 10px 0px;
  }


  .footer-bottom {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 15px;
    font-size: 22px;
  }
}

@media (max-width:609px) {

  .header-subtext {
    font-size: 12px;
  }

  .logo-text-content img {
    float: none;
  }

  .logo-text-content {
    align-items: center;
    text-align: center;
    padding: 0px !important;
  }

  .navbar {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 1rem !important;
  }

  .navbar-toggler {
    padding: 0.56rem 1.5rem !important;
    font-size: 16px !important;
  }

  .navbar>.container-fluid {
    justify-content: space-evenly;
  }

  .icon-div {
    gap: 15px;
    justify-content: center;
  }

  .contact-us-btn {
    display: block;
    font-size: 16px;
  }

  .header-bg-img .row {
    width: 100% !important;
  }

  .award-img-div {
    margin-bottom: 10px;
    flex-direction: row;
  }


  .footer {
    padding: 3rem 0px;
    text-align: center;

  }

  .footer p {
    font-size: 17px;
  }

  .footer .phone-detail {
    margin-top: 1.5rem;
  }

  .footer .site-update-text {
    margin-top: 2rem;
    padding-bottom: 0rem;
  }


  .footer .icon-div {
    justify-content: center !important;
    gap: 1rem;
    margin: 10px 0 0 !important;
    padding: 10px 0px;
  }


  .footer-bottom {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 15px;
    font-size: 22px;
  }

}