:root{
    --white-font : #f7f0f0;
    --poppins-font: "Poppins", sans-serif;
    --abhaya-font : "Abhaya Libre",sans-serif;

    --main-text-color : #296783;
    --goldern-text-color : #bc8a52;
    --link-border-color: #dfc5a6;
}